<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Example page</title>

<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}">

</head>
<body>

	<div class="container">
	
		<img alt="no image found now..!!" th:src="@{/img/profile.jpg}" class="imageCls">
	
		<h1>Hello, world!</h1>
		<h1>This is the thymeleaf example html page for css and js
			example...</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Vestibulum tincidunt, dui non hendrerit molestie, diam turpis lacinia
			arcu, vel semper nulla lectus cursus arcu. Nullam tincidunt quam id
			lobortis mollis. Vestibulum aliquam ultricies feugiat. In hac
			habitasse platea dictumst. Proin sed arcu leo. Aliquam ligula lacus,
			venenatis eu sem non, luctus volutpat nunc. In vulputate mi id ornare
			ultricies.</p>

	</div>
	
	<script type="text/javascript" th:src="@{/js/myjs.js}"></script>

</body>
</html>