<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="utf-8">
<title>Home Page</title>
</head>
<body>

	<section class="home-background-img d-flex justify-content-center align-items-center">

		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>

			<p>Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum is simply dummy text of the printing and
				typesetting industry.</p>
				
			<button class="btn navbar-bg-color btn-lg text-white">Get Started</button>	
		</div>
		
	</section>

</body>
</html>